.cart-btn,.filter,.btn-cart  {
  border-radius: 12px;
  color: #000;
  background-color: #FEBD59;
  padding: 8px 16px;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
}
@media screen and (max-width:576px) {
  .text-cart {
    display: none;
  }
}
.filter , .btn-cart {
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  gap: 8px;
}
@media screen and (min-width:768px){
  .form-control{
    width: 180px !important;
  }
}
@media screen and (max-width:950px) {
  .navScroll {
    flex-wrap: nowrap !important;
    gap: 15px;
    overflow-x: scroll;
  }
  .navScroll::-webkit-scrollbar {
    width: 0;
  }
  .nav-link {
    width: max-content;
  }
}

.card:hover {
  box-shadow:0 1rem 3rem rgba(0,0,0, .175);
}

.store {
  height: 100vh;
}
.store .row {
  overflow-y: scroll;
  height: calc(100vh - 120px);
}
.store .row::-webkit-scrollbar {
  width: 0;
}

.btn-cart {
  position: relative;
}
.btn-cart .notification {
  position: absolute;
  top: -8px;
  right: -8px;
  background-color: #FE6263;
  color: #fefefe;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
}

.btnC {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  padding: 8px;
  background-color: #E7ECF2;
  border: none;
  outline: none;
}
.spanC {
  width: 45px;
  height: 30px;
  border-radius: 12px;
  border: 1px solid #333;
  padding: 8px 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}
@media screen and (max-width:576px) {
  .btnC {
    width: 20px;
    height: 20px;
  }
  .spanC {
    width: 35px;
    height: 20px;
    font-size: 14px;
  }
}

.card {
  height: 100% !important;
}
.card-img-top {
  height: 180px;
  width: 286px;
}